.dummy-item {
  display: inline-block;
  justify-content: space-between;
  align-items: left;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  margin: 1rem 0;
  width: 30%;
  border-radius: 12px;
  background-color: #7b7777;
}

.container {
  text-align: center;
}

.dummy-item__description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  flex-flow: column-reverse;
  justify-content: flex-start;
  flex: 1;
}

.dummy-item h2 {
  color: #3a3a3a;
  font-size: 1rem;
  flex: 1;
  margin: 0 1rem;
  color: rgb(224, 220, 219);
}

.dummy-item__price {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #51595f;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
}

@media (min-width: 580px) {
  .dummy-item__description {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .dummy-item__description h2 {
    font-size: 1.2rem;
  }

  .dummy-item__price {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }
}
